.home-page {

    // .home-page__main
    &__main {}

    // .home-page__main-slider
    &__main-slider {
        @include clamp("margin-bottom", 88, 30);
    }

    // .home-page__features
    &__features {
        @include clamp("margin-bottom", 88, 30);
    }

    // .home-page__products
    &__products {
        @include clamp("padding-bottom", 44, 30);
    }

    // .home-page__tips
    &__tips {
        @include clamp("padding-top", 44, 30);
        @include clamp("padding-bottom", 44, 30);
    }
}


// =============== MAIN SLIDER ===============
.main-slider {
    background: linear-gradient(to right, #F9F1E7 prc(964, 1440), #FCF8F3 prc(964, 1440) 100%);

    @media (max-width: $md) {
        background: #FCF8F3;
    }

    // .main-slider__container
    &__container {}

    // .main-slider__body
    &__body {
        padding: rem(140) 0 0 0;
        position: relative;
        z-index: 2;

        @media (max-width: $md) {
            padding: rem(80) 0 0 0;
        }

        @media (min-width: $md) {
            display: flex;
        }
    }

    // .main-slider__content
    &__content {
        flex: 0 0 prc(494, 1240);
        align-self: flex-start;
        @include clamp("margin-bottom", 80, 20);

        @media (max-width: $md) {
            margin: 0px rem(-15);
        }
    }

    // .main-slider__slider
    &__slider {
        // flex: 1 1 auto;
        min-width: 0;
        align-self: flex-end;

        @media (min-width: $md) {
            padding: 0 0 0 rem(30);
        }

        @media (max-width: $md) {
            margin: 0 rem(-15);
        }
    }
}

.content-main-slider {
    position: relative;
    z-index: 5;
    @include clamp("padding", 60, 15);
    background: rgba(255, 255, 255, 0.9);

    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(31px);
    }

    // .content-main-slider__title
    &__title {
        @include clamp("font-size", 56, 24);
        font-weight: 700;
        line-height: 1.2;

        &:not(:last-child) {
            margin-bottom: em(16, 56);
        }
    }

    // .content-main-slider__text
    &__text {
        @include clamp("font-size", 20, 16);
        font-weight: 500;
        line-height: 1.5;
        color: $greyColor;

        &:not(:last-child) {
            margin-bottom: em(48, 20);
        }
    }

    // .content-main-slider__button
    &__button {
        width: 100%;
        font-size: rem(20);
        @include clamp("min-height", 78, 45);
    }
}

.slider-main {
    @media (max-width: $md) {
        display: flex;
        flex-direction: column-reverse;
    }

    // .slider-main__controls
    &__controls {
        margin: 0 0 rem(20) 0;

        @media (max-width: $md) {
            margin: rem(10) 0 rem(20);
        }
    }

    // .slider-main__body
    &__body {
        overflow: visible;
        width: 100%;

        @media (min-width: $md) {
            @include clamp("width", 934, 290);
            transform: translateX(rem(-218));
        }
    }

    // .slider-main__swiper
    &__swiper {}

    // .slider-main__slide
    &__slide {
        position: relative;
    }

    // .slider-main__image
    &__image {
        position: relative;
        padding-bottom: prc(553, 934);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .slider-main__content
    &__content {

        min-width: rem(290);
        max-height: rem(300);
        overflow: auto;

        display: flex;
        flex-direction: column;

        @include clamp("padding", 24, 15);

        color: inherit;
        background: rgba(255, 255, 255, 0.9);

        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(31px);
        }

        @media (min-width: $sm) {
            position: absolute;
            right: prc(40, 934);
            bottom: prc(40, 623);
        }
    }

    // .slider-main__title
    &__title {
        @include clamp("font-size", 28, 22);
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: em(4, 28);
    }

    // .slider-main__text
    &__text {
        font-weight: 500;
        line-height: 1.5;
        color: $darkGreyColor;

        &:not(:last-child) {
            margin-bottom: em(8);
        }
    }

    // .slider-main__price
    &__price {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        @include clamp("font-size", 20, 16);
        font-weight: 600;
        line-height: 1.5;

        &::before {
            font-size: rem(16);
            margin-left: em(10, 20);
        }
    }
}

.controls-slider-main {
    display: flex;
    align-items: center;

    // .controls-slider-main__dotts
    &__dotts {
        flex: 1 1 auto;

        @media (min-width: $md) {
            padding: 0 rem(20) 0 0;
        }

        @media (max-width: $md) {
            justify-content: center;
        }
    }

    // .controls-slider-main__arrows
    &__arrows {
        @media (max-width: $md) {
            display: none;
        }
    }
}

.controls-slider-main {

    // .controls-slider-main__arrows
    &__arrows {}
}

// =============== Feature ===============
.features {

    // .features__container
    &__container {}

    // .features__items
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // .features__item
    &__item {}
}

.item-features {

    display: inline-grid;
    grid-template: auto auto / rem(80) 1fr;
    padding: rem(15) 0;

    @media (max-width: $md) {
        min-width: rem(290);
    }

    @media (max-width: $sm) {
        grid-template: auto auto / auto 1fr;
    }

    // .item-features__ico
    &__ico {
        grid-row: span 2;
        align-self: center;
        text-align: center;

        @media (max-width: $md) {
            padding: 0 rem(15) 0 0;
        }
    }

    // .item-features__title
    &__title {
        font-size: rem(18);
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: em(2, 18);
    }

    // .item-features__text
    &__text {
        font-weight: 500;
        line-height: 1.5;
        color: $greyColor;
    }
}

// =============== Products ===============
.products {

    // .products__container
    &__container {
        text-align: center;
    }

    // .products__title
    &__title {
        margin-bottom: em(32, 40);
    }

    // .products__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(285), 1fr));
        @include clamp("gap", 30, 10);
        margin-bottom: rem(30);
    }

    // .products__item
    &__item {}

    // .products__button
    &__button {
        min-width: rem(245);
        margin: 0 auto;
    }
}

.item-products {
    position: relative;
    display: flex;
    flex-direction: column;

    @media (pointer: fine) {

        &:hover,
        &:focus {
            .item-products__overlay {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // .item-products__image
    &__image {
        display: block;
        position: relative;
        padding-bottom: prc(301, 285);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .item-products__image-mod
    &__image-mod {
        position: absolute;
        @include clamp("font-size", 16, 12);

        display: flex;
        justify-content: center;
        align-items: center;
        width: em(48);
        height: em(48);
        top: em(24);
        right: em(24);


        border-radius: 50%;
        color: $whiteColor;
        background-color: $redColor;

        span {
            font-weight: 500;
            line-height: 1.5;
        }

        &--new {
            background-color: $greenColor;

            &::after {
                content: 'New';
            }
        }

    }

    // .item-products__body
    &__body {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        padding: rem(16) rem(16) rem(30);
        text-align: left;
        background: #F4F5F7;

        @media (hover:none),
        (pointer: coarse) {
            @include clamp("padding-bottom", 16, 1);
        }

    }

    // .item-products__label
    &__label {
        @include clamp("font-size", 24, 20);
        font-weight: 600;
        line-height: 1.2;

        &:not(:last-child) {
            margin-bottom: em(8, 24);
        }
    }

    // .item-products__text
    &__text {
        font-weight: 500;
        line-height: 1.5;
        color: $greyColor;

        &:not(:last-child) {
            margin-bottom: em(8);
        }
    }

    // .item-products__prices
    &__prices {
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    // .item-products__price
    &__price {
        // flex: 1 1 auto;
        font-size: rem(20);
        font-weight: 600;
        line-height: 1.5;
        padding-right: em(10, 20);

        &::before {
            content: 'Rp';
            margin-right: em(4, 20);
        }
    }

    // .item-products__old-price
    &__old-price {
        font-weight: normal;
        font-size: rem(16);
        line-height: 1.5;
        text-decoration: line-through;
        color: #b0b0b0;

        &::before {
            content: 'Rp';
            margin-right: em(4, 20);
        }
    }

    // .item-products__overlay
    &__overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        padding: rem(20);

        @media (pointer: fine) {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($mainColor, 0.72);

            transition: all 0.3s ease 0s;
            opacity: 0;
            visibility: hidden;
        }

        @media (hover:none),
        (pointer: coarse) {
            position: relative;
            background: #F4F5F7;

            .item-products__button {
                color: $orangeColor;
            }
        }
    }

    // .item-products__link
    &__link {
        min-width: rem(200);

        &:not(:last-child) {
            @include clamp("margin-bottom", 24, 15);
        }
    }

    // .item-products__buttons
    &__buttons {
        display: flex;
        min-width: rem(180);
        justify-content: space-between;
    }

    // .item-products__button
    &__button {
        display: flex;
        align-items: center;

        font-weight: 600;
        line-height: 1.5;
        color: $whiteColor;

        transition: color 0.3s ease 0s;

        &::before {
            margin-right: rem(10);
        }

        &:hover,
        &:focus {
            color: $orangeColor;
        }

        &:active {
            opacity: 0.5;
        }
    }
}

// =============== tips & tricks ===============

.tips {

    // .tips__container
    &__container {
        position: relative;
        @media (max-width: $sm) {
            margin: 0 rem(-15);
        }
    }

    // .tips__title
    &__title {
        margin-bottom: em(12, 40);
    }

    // .tips__slider
    &__slider {}
}

.slider-tips {
    display: flex;
    flex-wrap: wrap;

    // .slider-tips__body
    &__body {
        margin-bottom: rem(25);
        width: 100%;

        @include clamp("padding-top", 20, 5);
        @include clamp("padding-bottom", 20, 5);

        @media (max-width: $md) {
            padding-bottom: 0;
            margin-bottom: 0;
        }
       
    }

    // .slider-tips__swiper
    &__swiper {}

    // .slider-tips__slide
    &__slide {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        transition: box-shadow 0.8s ease 0s;

        @media (min-width: $md) {
            &.swiper-slide-active {
                box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
            }
        }

    }

    // .slider-tips__image
    &__image {
        position: relative;
        padding-bottom: prc(251, 391);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .slider-tips__content
    &__content {
        flex: 1 1 auto;
        padding: rem(16);
        display: flex;
        flex-direction: column;

    }

    // .slider-tips__text
    &__text {
        flex: 1 1 auto;
        @include clamp("font-size", 24, 20);
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: em(8, 24);
    }

    // .slider-tips__time
    &__time {
        font-size: rem(14);
        line-height: 1.5;
        color: $greyColor;
    }

    // .slider-tips__controls
    &__controls {}
}

.controls-tips {
    flex: 1 1 100%;

    // .controls-tips__dotts
    &__dotts {
        justify-content: center;
    }

    // .controls-tips__arrows
    &__arrows {
        @media (max-width: $md) {
            display: none;
        }

        .slider-arrow__prev,
        .slider-arrow__next {
            position: absolute;
            z-index: 5;
            top: 50%;
        }

        .slider-arrow__prev {
            left: 0;
        }

        .slider-arrow__next {
            right: 0;
        }
    }
}
